
/* color variable */

:root{
    --red:#f42625;
    --white:#ffffff;
    --black:#000000;
}

/* navbar styling */
#navbar-items{
    gap: 30px;
}

#navbar{
    padding: 10px  10px;
    /* width: 100%; */
}

#main-logo{
    width: 165px;
}
.nav-link{
    /* margin: 10px; */
    text-decoration: none;
    font-weight: lighter;
}

#carousal{
    width: auto;
}
#carousal-img{
    width: 100%;
}

#franchise{
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 20px;
    cursor: pointer;
}
#order-online{
    background-color: var(--red);
    border: 0px;
    padding: 17px 20px;
    cursor: pointer;
}
#red{

    color: var(--red);
}
.red{
    color: var(--red);
}


#btn-icon{
    padding: 5px 7px; 
}


#children-images{
    gap: 30px;
}





.branches{
    padding-top: 20px;
     background-color: #0f0f0f;
    /* background-image: url(/assets/images/bckimg.webp)  ; */
    margin-top: 50px;
    
   
   
}
/* #bckimg{
    display: flex;
    justify-content: right;
} */


  
 
.mt{
    margin-top: 100px;
}
.branches-item{
    /* display: flex;
    justify-content: space-evenly; */
}
#get-direction{
    background-color: transparent;
    border: solid #ffffff 1px;
    color: #ffffff;
    padding: 15px 20px;
    cursor: pointer;

}
#section2{
    flex-direction: row-reverse;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 10px;
    text-align: center;
}
#section1{
    margin-top: 70px;

}
#section3{
    margin-top: 70px;
    margin-bottom: 70px;
}

#txt{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;

}

#branch1{
    padding-top: 20px ;
    padding-bottom:50px ;
    padding-left: 50px;
    padding-right: 50px;

} 

.font1 one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
.cards{
    box-sizing: border-box;
    gap: 10px;
}
  

.card-img{
    width: 100%;
}

.publication-book{
    border: 1px solid grey;
    cursor: pointer;
}

.publication-book:hover{
    box-shadow: 0px  0px 10px  #ffffff;
    border: 1px solid #fcfffd;
    transition: 0.3s ease-in-out;
}


.book-img{
    height: 400px;
    width: 450px;
}
.publication-img{
    margin-top: 70px;
}

.star-icon {
    font-size: 15px;


}

.rating{
    margin-left: 20px;
}

input {
    width: 540px;
    height: 44px;
    background-color: #fff;
    border: none;
    color: #000000;
    border-radius: 5px;
}
select {
    width: 540px;
    height: 44px;
    background-color: #fff;
    border: none;
    color: #000000;
    border-radius: 5px;
}
#form-box {
    width: 600px;
    margin-left: 410px;
}

.stars:hover {
    color: #f42625;
    transition: 0.3s ease-in-out;
}

#copyright{
    padding: 15px;
 height: 50px;
border: 1px solid grey;
border-left: 0px;
border-right: 0px;
border-bottom: 0px;
margin: 0px 20px;

}
.footer-icon{
    font-size: 30px;

}
.decoration-none{
    text-decoration: none;
}

.card-container{
    margin: ;
}

.card{
    width: 300px;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
}

#icon{
    display: flex;
   margin-left: auto;
   margin-right: auto;

}
.social-feed-img-cont{

    width: 250px;
    margin: 10px;
}

.social-feed-image{
    width: 100%;
}

 .sec3-img-cont{
    width: 500px;
}

.sec3-img{
       width: 100%; 
}


.sec2-container{
    margin: 20px;

}